<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Nova oferta para o termo {{alerts_keyword}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet" />
</head>

<body align="center">
  <table border="0" cellpadding="0" cellspacing="0" style="width: 800px;" >
    <tbody>
      <tr>
        <td align="center" style="background-color:#000; height:100px; padding: 0px; margin: 0px;">
          <img 
            alt="logo" title="logo" 
            src="http://localhost:3333/images/donut.svg" 
            style="width:100px; display:block; border:none;" 
          />
        </td>
      </tr>
      <tr>
        <td align="center">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td style="background-color: #E2E8F0; width: 1px;"></td>
              <td style="background-color: #F7FAFC; width: 32px;"></td>
              <td align="center" style="background-color: #F7FAFC; width: 734px">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="height: 32px;"></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <div style="width: 200px; height: 200px;">
                        <img
                          src="{{deal_cover_image}}" alt="{{deal_title}}" title="{{deal_title}}"
                          style="width: 200px; height: 200px; object-fit: cover; border-radius: 6px; display: block; border: none;" 
                        />
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="height: 8px;"></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <font face="Inter,Arial,sans-serif" size="2" color="#718096">
                        <p style="padding: 0px; margin: 0px;">
                          {{deal_store_or_category}}
                        </p>
                      </font>
                    </td>
                  </tr>
                  <tr>
                    <td style="height: 8px;"></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <font face="Inter,Arial,sans-serif" size="5" color="#1A202C">
                        <b style="padding: 0px; margin: 0px;">
                          {{deal_title}}
                        </b>
                      </font>
                    </td>
                  </tr>
                  <tr>
                    <td style="height: 24px;"></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <font face="Inter,Arial,sans-serif" size="6" color="#3182CE">
                        <b style="padding: 0px; margin: 0px;">
                          {{deal_value}}
                        </b>
                      </font>
                    </td>
                  </tr>
                  <tr>
                    <td style="height: 16px;"></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td style="background-color: #F7FAFC;"></td>
                          <td align="center" style="width: 500px;">
                            <a href='{{frontend_deals_url}}'
                              style="display:block; padding:16px 0px; border-radius:6px; background-color:#2b6cb0; text-decoration: none;">
                              <b>
                                <font face="Inter,Arial,sans-serif" size="4" color="#FFF">
                                  Ver oferta
                                </font>
                              </b>
                            </a>
                          </td>
                          <td style="background-color: #F7FAFC;"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td style="height: 32px;"></td>
                  </tr>
                  <tr>
                    <td style="height: 1px; background-color: #E2E8F0;"></td>
                  </tr>
                  <tr>
                    <td style="height: 32px;"></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <font face="Inter,Arial,sans-serif" size="4" color="#1A202C">
                        <p style="padding: 0px; margin: 0px;">
                          Por que você você recebeu esse e-mail?
                        </p>
                      </font>
                      <font face="Inter,Arial,sans-serif" size="2" color="#1A202C">
                        <p style="padding: 8px 0px 0px 0px; margin: 0px;">
                          Essa oferta corresponde ao alerta "{{alerts_keyword}}"
                        </p>
                      </font>
                      <a href='{{frontend_alerts_url}}' style="display:block; text-decoration: none;">
                        <font face="Inter,Arial,sans-serif" size="2" color="#2B6CB0">
                          <b>
                            <p style="padding: 8px 0px 0px 0px; margin: 0px;">
                              Gerenciar alertas
                            </p>
                          </b>
                        </font>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td style="height: 32px;"></td>
                  </tr>
                </table>
              </td>
              <td style="width: 32px; background-color: #F7FAFC;" ></td>
              <td style="width: 1px; background-color: #E2E8F0;"></td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align="center" style="display: block; padding: 10px; margin: 0px; colspan: 1; height: 60px; background-color: #E2E8F0;">
          <font face="Inter,Arial,sans-serif" size="1" color="#A0AEC0">
            <p style="padding:0px; margin:0px;">
              Observe que as ofertas estão sujeitas à disponibilidade e seus preços estão sujeitos a alterações.
            </p>
            <p style="padding:0px; margin:6px 0px 0px 0px;">
              Email enviado automaticamente. Favor não responder a esse email.
            </p>
          </font>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>