<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Nova oferta para o termo {{alerts_keyword}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet" />
</head>

<body align="center">
  <table border="0" cellpadding="0" cellspacing="0" style="width: 800px;" >
    <tbody>
      <!-- HEADER -->
      <tr> 
        <td align="center" style="background-color:#000; height:100px; padding: 0px; margin: 0px;">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td style="height: 8px; background-color: #000;"></td>
            </tr>
            <tr>
              <td align="center">
                <img 
                  alt="logo" title="logo" 
                  src="http://localhost:3333/images/card.svg" 
                  style="width:100px; display:block; border:none;" 
                />
              </td>
            </tr>
            <tr>
              <td style="height: 8px; background-color: #000;"></td>
            </tr>
          </table> 
        </td>
      </tr>
      <tr>
        <td align="center">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td style="background-color: #E2E8F0; width: 1px;"></td>
              <td style="background-color: #F7FAFC; width: 32px;"></td>
              <td align="center" style="background-color: #F7FAFC; width: 734px">
                <!-- CONTENT -->
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="height: 32px;"></td>
                  </tr>
                  <!-- ARTICLE -->
                  <tr>
                    <td align="center">
                      <font face="Inter,Arial,sans-serif" size="4" color="#1A202C">
                        <p style="padding: 0px; margin: 0px;">
                          Olá {{user_name}}, você sabe que é Lorem Ipsum?
                        </p>
                      </font>
                    </td>
                  </tr>
                  <tr>
                    <td style="height: 8px;"></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <font face="Inter,Arial,sans-serif" size="2" color="#1A202C">
                        <p style="padding: 8px 0px 0px 0px; margin: 0px;">
                          Lorem Ipsum é simplesmente um texto fictício da indústria 
                          de impressão e datilografia. Lorem Ipsum tem sido o texto 
                          fictício padrão da indústria desde 1500, quando uma 
                          impressora desconhecida pegou uma galera de tipo e a 
                          embaralhou para fazer um livro de espécimes tipo. 
                          Sobreviveu não apenas a cinco séculos, mas também ao salto para 
                          a tipografia eletrônica, permanecendo essencialmente inalterado. 
                          Foi popularizado na década de 1960 com o lançamento de Letraset sheets 
                          contendo passagens de Lorem Ipsum, e mais recentemente 
                          com software de editoração eletrônica como Aldus 
                          PageMaker, incluindo versões de Lorem Ipsum.
                        </p>
                      </font>
                    </td>
                  </tr>
                  <!-- ARTICLE -->
                  <tr>
                    <td style="height: 16px;"></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <font face="Inter,Arial,sans-serif" size="4" color="#1A202C">
                        <p style="padding: 0px; margin: 0px;">
                          De onde vem?   
                        </p>
                      </font>
                    </td>
                  </tr>
                  <tr>
                    <td style="height: 8px;"></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <font face="Inter,Arial,sans-serif" size="2" color="#1A202C">
                        <p style="padding: 8px 0px 0px 0px; margin: 0px;">
                          Ao contrário da crença popular, Lorem Ipsum não é simplesmente um texto aleatório. 
                          Tem raízes em uma obra da literatura latina clássica de 45 a.C., tornando-se mais 
                          de 2000 anos de idade. Richard Mcclintock, professor de latim no Hampden-Sydney 
                          College, na Virgínia, procurou uma das palavras latinas mais obscuras, 
                          consectetur, de uma passagem de Lorem Ipsum, e percorrendo as citações 
                          da palavra na literatura clássica, descobriu a fonte indiscutível. 
                          Lorem Ipsum vem das seções 1.10.32 e 1.10.33 de "de Finibus Bonorum et 
                          Malorum" (Os Extremos do Bem e do Mal) de Cícero, escrito em 45 a.C.
                           Este livro é um tratado sobre a teoria da ética, muito popular durante 
                           o Renascimento. A primeira linha de Lorem Ipsum, "Lorem ipsum dolor 
                           sit amet..", vem de uma linha na seção 1.10.32.
                          <br />
                          O pedaço padrão de Lorem Ipsum usado desde 1500 é reproduzido abaixo para os 
                          interessados. As seções 1.10.32 e 1.10.33 de "de Finibus Bonorum et Malorum" 
                          de Cícero também são reproduzidas em sua forma original exata, acompanhadas 
                          de versões em inglês da tradução de 1914 de H. Rackham.
                        </p>
                      </font>
                    </td>
                  </tr>
                  <!-- ARTICLE -->
                  <tr>
                    <td style="height: 16px;"></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <font face="Inter,Arial,sans-serif" size="4" color="#1A202C">
                        <p style="padding: 0px; margin: 0px;">
                          Por que o usamos?
                        </p>
                      </font>
                    </td>
                  </tr>
                  <tr>
                    <td style="height: 8px;"></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <font face="Inter,Arial,sans-serif" size="2" color="#1A202C">
                        <p style="padding: 8px 0px 0px 0px; margin: 0px;">
                          É um fato estabelecido há muito tempo que um leitor se distrai 
                          com o conteúdo legível de uma página ao olhar para seu layout. 
                          O ponto de usar o Lorem Ipsum é que ele tem uma distribuição 
                          mais ou menos normal de letras, em vez de usar "Conteúdo aqui, 
                          conteúdo aqui", fazendo com que pareça um inglês legível. 
                          Muitos pacotes de editoração eletrônica e editores de 
                          páginas da Web agora usam o Lorem Ipsum como seu texto 
                          de modelo padrão, e uma busca por 'lorem ipsum' descobrirá 
                          muitos sites ainda em sua infância. Várias versões evoluíram 
                          ao longo dos anos, às vezes por acidente, 
                          às vezes de propósito (humor injetado e afins).
                        </p>
                      </font>
                    </td>
                  </tr>
                  <!-- ARTICLE -->
                  <tr>
                    <td style="height: 16px;"></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <font face="Inter,Arial,sans-serif" size="4" color="#1A202C">
                        <p style="padding: 0px; margin: 0px;">
                          Onde posso obter algumas?
                        </p>
                      </font>
                    </td>
                  </tr>
                  <tr>
                    <td style="height: 8px;"></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <font face="Inter,Arial,sans-serif" size="2" color="#1A202C">
                        <p style="padding: 8px 0px 0px 0px; margin: 0px;">
                          Existem muitas variações de passagens de Lorem Ipsum disponíveis, 
                          mas a maioria sofreu alterações de alguma forma, por humor 
                          injetado ou palavras aleatórias que não parecem nem um pouco 
                          críveis. Se você vai usar uma passagem de Lorem Ipsum, você 
                          precisa ter certeza de que não há nada embaraçoso escondido no 
                          meio do texto. Todos os geradores Lorem Ipsum na Internet tendem 
                          a repetir pedaços predefinidos conforme necessário, tornando este 
                          o primeiro gerador verdadeiro na Internet. Ele usa um dicionário 
                          e mais de 200 palavras latinas, combinado com um punhado de 
                          estruturas de sentenças modelo, para gerar Lorem Ipsum que 
                          parece razoável. O Lorem Ipsum gerado é, portanto, sempre livre 
                          de repetição, humor injetado, palavras não características etc.
                        </p>
                      </font>
                    </td>
                  </tr>
                  <tr>
                    <td style="height: 32px;"></td>
                  </tr>
                </table>
              </td>
              <td style="width: 32px; background-color: #F7FAFC;" ></td>
              <td style="width: 1px; background-color: #E2E8F0;"></td></td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- Footer -->
      <tr>
        <td align="center" style="background-color: #E2E8F0;">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td style="height: 12px;"></td>
            </tr>
            <tr>
              <td>
                <font face="Inter,Arial,sans-serif" size="1" color="#A0AEC0">
                  <p style="padding:0px; margin: 0px;">
                    Email enviado de forma automática. Favor não responder a esse email.
                  </p>
                </font>      
              </td>
            </tr>
            <tr>
              <td style="height: 12px;"></td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>