<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Nova oferta para o termo {{alerts_keyword}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet" />
</head>

<body align="center">
  <table border="0" cellpadding="0" cellspacing="0" style="width: 800px;" >
    <tbody>
      <!-- HEADER -->
      <tr> 
        <td align="center" style="background-color:#000; height:100px; padding: 0px; margin: 0px;">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td style="height: 8px; background-color: #000;"></td>
            </tr>
            <tr>
              <td align="center">
                <img 
                  alt="logo" title="logo" 
                  src="http://localhost:3333/images/card.svg" 
                  style="width:100px; display:block; border:none;" 
                />
              </td>
            </tr>
            <tr>
              <td style="height: 8px; background-color: #000;"></td>
            </tr>
          </table> 
        </td>
      </tr>
      <tr>
        <td align="center">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td style="background-color: #E2E8F0; width: 1px;"></td>
              <td style="background-color: #F7FAFC; width: 32px;"></td>
              <td align="center" style="background-color: #F7FAFC; width: 734px">
                <!-- CONTENT -->
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="height: 64px;"></td>
                  </tr>
                  <!-- ARTICLE -->
                  <tr>
                    <td align="center">
                      <font face="Inter,Arial,sans-serif" size="4" color="#1A202C">
                        <p style="padding: 0px; margin: 0px;">
                          Olá {{user_name}},
                        </p>
                      </font>
                    </td>
                  </tr>
                  <tr>
                    <td style="height: 8px;"></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <font face="Inter,Arial,sans-serif" size="3" color="#1A202C">
                        <p style="padding: 8px 0px 0px 0px; margin: 0px;">
                          Falta apenas um passo para você finalizar o seu cadastro. Clique no botão abaixo e conclua o processo:
                        </p>
                      </font>
                    </td>
                  </tr>
                  <!-- BUTTON -->
                  <tr>
                    <td style="height: 32px;"></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td style="background-color: #F7FAFC;"></td>
                          <td align="center" style="width: 500px;">
                            <a 
                              href='{{activate_account_url}}'
                              style="display:block; padding:16px 0px; border-radius:6px; background-color:#2b6cb0; text-decoration: none;"
                            >
                              <b>
                                <font face="Inter,Arial,sans-serif" size="4" color="#FFF">
                                  Ativar conta
                                </font>
                              </b>
                            </a>
                          </td>
                          <td style="background-color: #F7FAFC;"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <!-- END_SECTION GAP -->
                  <tr>
                    <td style="height: 64px;"></td>
                  </tr>
                </table>
              </td>
              <td style="width: 32px; background-color: #F7FAFC;" ></td>
              <td style="width: 1px; background-color: #E2E8F0;"></td></td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- Footer -->
      <tr>
        <td align="center" style="background-color: #E2E8F0;">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td style="height: 12px;"></td>
            </tr>
            <tr>
              <td>
                <font face="Inter,Arial,sans-serif" size="1" color="#A0AEC0">
                  <p style="padding:0px; margin: 0px;">
                    Email enviado de forma automática. Favor não responder a esse email.
                  </p>
                </font>      
              </td>
            </tr>
            <tr>
              <td style="height: 12px;"></td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>